:root
{
    --body-color: rgb(194, 231, 231);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;

}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(212, 220, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
}

.square {
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 8px;
  animation: rotate 2s ease-in-out alternate infinite;;
}

/* Rotation animation */
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fade out loader */
@keyframes fadeOut {
  0% { opacity: 1; 
    display: block;}
  100% { opacity: 0; 
    display: none;}
}
a
{
    text-decoration: none;
}
table
{
    border-spacing: 15px;
    text-align: center;
}
.grid-container
{
    margin: 20px;
    display: grid;
    width: 100%;
    height: 900px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "Sidebar search-bar"
                         "Sidebar back-bar "
                         "Sidebar employees";
    /*border: 10px solid black;*/
    gap: 25px;

}
.Sidebar
{
    background-color: white;
    grid-area: Sidebar;
    padding:25px;
    padding-right: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}
.Sidebar .logo img
{
    margin-bottom: 25px;
    
}
.Sidebar .btn-gp ul
{
    list-style: none;
}
.Sidebar .btn-gp ul li
{
    display: flex;
    margin: 3px 0px;
    border-radius: 15px;
    line-height: 25px;
    padding: 10px 5px;
}

.Sidebar .btn-gp a
{
    color: grey;
    display: block;
    margin-left: 15px;

}
.Sidebar .btn-gp li:hover a
{
    color: rgb(60, 170, 214);
}
.Sidebar .btn-gp li:hover
{
    background-color:rgba(76, 118, 146, 0.411); 
    cursor: pointer;
}
.Sidebar .support-logout
{
    margin-top: auto;
}


.Sidebar .logout
{
    margin-top: 50px;
}
.Sidebar .logout a
{
    color: grey;
}
.search-bar
{
    /*background-color: white;*/
    grid-area: search-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
   
}
.search-bar .input-search
{
    width: 45%;
    flex: 1 ;
    min-width: 150px;
}
.search-bar .input-search input
{
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 450px;
    height: 25px;
    padding: 25px;
    font-size: large;
}
.search-bar .input-search input:hover
{
    border-radius: 12px;
    border: 3px solid rgb(104, 177, 196);
}
.search-bar .account
{
    width: 18%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    flex-shrink: 0;
    max-height: 50px;
    
}

.search-bar .account .notify
{   
    border-radius: 15px;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.search-bar .account .notify a
{
    position: absolute;
    transform: translate(0px,25px);
    /*background-image:url("img/Notifications.png") ;*/
}
.search-bar .account .profile
{
    min-height: 100%;
    width: 70px;
    min-width: 70%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.back-bar
{
    grid-area: back-bar;
    padding: 25px;
}

.back-bar a
{
    color: rgb(127, 181, 224);
    font-size: large;

}
.back-bar .date-section h1
{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.back-bar .date-section
{
    display: flex;
    justify-content: space-between;
}

.back-bar h4
{
    padding: 10px 15px;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    color: gray;
}
.back-bar .add-emp
{
    color: white;
    background-color: rgb(53, 124, 182);
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    font-weight: bold;
}
.back-bar .add-emp:hover
{
    cursor: cell;
}
/******************************************************/
.employees
{
    grid-area: employees;

}
.btn-radio
{
    display:none
}

.btn-toggle-label
{
    display: inline-block;
    width: 140px;
    height: 50px;
    background-color: rgb(191, 213, 218);
    border-radius: 30px;
    text-align: center;
    margin-left: -40px;
    padding: 15px;
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: large;
}
.employees .page1
{
    display: none;
}
.employees .page2
{
    display: none;
}
#btn1-radio:checked ~ .employees .page1 
{
    display: block;
}
#btn2-radio:checked ~ .employees .page2 
{
    display: block;
}
#btn1-radio:checked ~ .back-bar .date-section .btn-container .btn1-toggle-label
{
    background-color: rgb(53, 124, 182);
    color: white;
    cursor: pointer;
}
#btn2-radio:checked ~  .back-bar .date-section .btn-container  .btn2-toggle-label
{
    background-color: rgb(53, 124, 182);
    color: white;
    cursor: pointer;
}
.emp
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    color: black;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 15px 25px;
    border-radius: 25px;
    gap: 10px;
    text-wrap: nowrap;
    min-width: 800px;
    margin-bottom: 25px;
}
.employees .page1 .emp .emp-profile
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.employees .page1 .emp .emp-profile img
{
    min-width: 70px;
}
.employees .page1 .emp a
{
    font-size: x-large;
}
.employees .page1 .emp h4
{
    color: gray;
    font-weight: lighter;
    
} 
.employees .page1 .emp .emp-position span
{
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;
    font-weight: lighter;
    margin-left: 10px;
}
/************************************************************/
.employees .pagging
{
    max-width: fit-content;
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}
/*******************************/
@media (max-width: 575px) {
    .search-bar
    {
        flex-wrap: wrap;
        justify-content: center;
    }
     .search-bar .input-search {
    flex: 1 1 100%;
    order: 1;
    min-width: 200px;
    margin-bottom: 5px;
  }

  .search-bar .account {
    order: 2;
    flex: 1 1 100%;
    justify-content: center;
  }
    .back-bar .date-section {
        flex-wrap: wrap;     
        gap: 5px; 
        justify-content: space-between; 
    }

    .back-bar .date-section h2 {
        
        flex: 1 1 100%;       /* Force title to take full width on small screens */
        text-align: left; 
        font-size: 12px;
    }

    .back-bar .btn-container {
        scale: auto;
        flex: 1 1 100%; 
        order: 2;
        margin-top: 5px;
        font-size: 18px;
}}
